body {
background-image: linear-gradient(to top, #f95d5f, #eb8c36, #c5b635, #8dd86c, #17f3be);
}
h1{
  font-size: 40px;
  display: inline-block;
  margin-left: 16%;
}
h2{
  font-size: 30px;
}
img {
  width: 50%;
  height: 50%;
  margin: 0.2%;
  border-radius: 10px;
  box-shadow: 8px 8px 10px darkGray;
}
p{
  font-size: 18px;
}
button {
  width: 150px;
  height: 50px;
  padding: 2px;
  background-color: white;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid darkGray;
  margin-top: 2%;
  box-shadow: 5px 8px 10px darkGray;
}
.play {
  box-shadow: inset 0px 0px 30px lightGray, inset 0px 0px 30px lightGray;
}

a {
  text-decoration: none;
  color: black;
}

.feedback {
background-image: linear-gradient(to top, #eb8c36,#f95d5f);
  margin: 0.8%;
  border-radius: 5px;
}

#feedbackButton {
  background-image: linear-gradient(to bottom, #8afb71, #7afc5f, #68fd4c, #51fe33, #2fff00);
  padding: 0px;
  border: 0px;
  border-radius: 5px;
  margin: 1% 2% 1% 2%;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  width: 800px;
  height: 60px;
}
.projects{
  padding: 2%;
  margin:0.8%;
  border-radius: 7px;
  box-shadow: inset 0px 8px 30px #c5b635, 0px 8px 10px darkGray;
}
.social{
  display: inline-block;
  margin: 1%;
  float: right;
}
